:root{
    --dark-background: rgb(162, 199, 211);
    --text: black;
    --light-highlight: rgba(225, 225, 223, .43);
    --dark-highlight: rgb(225, 225, 223);
    --light-background: rgb(173, 216, 230);
}
html{
    background-color: var(--dark-background);
    height: 100%;
    min-height: 100%;
}
body{
    position: relative;
    min-height: 100vh;
    background-color: var(--light-background);
    width: 85%;
    margin: 15px auto;
    height: 100%;
    min-height: 100%;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 5px;
}
main{
    width: 100%;
    height: 100%;
    min-height: 100%;
}
h1{
    font-size: 4em;
    display: flex;
}
a{
    color: black;
    text-decoration: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
nav ul li a{
    color: white;
    font-size: 1.5em;
    }
.main-categories{
    height: 100%;
    min-height: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr, .3fr, 1fr, .3fr;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 2.5rem;
}
footer{
   display: flex;
   justify-content: center;
   background-color: var(--dark-background);
   position: fixed;
   bottom: 0;
   width: 85%;
   height: 2.5rem;
   
}
.copyright{
    margin-right: 10px;
}
.sub-main{
    text-align: center;
   
    
}
.sub-main2{
   text-align: center;
   padding: 0px;
   margin-bottom: 40px;
    }
#name-of-destination{
   justify-content: center;
}
.comment-form{
    margin-bottom : 50px;
}
#all-reviews-listed{
    padding: 0px;
}

.category{
    margin: auto;
    width: 100%
}
.category h2{
text-align: center;
font-size: 50px;
color: white;
text-shadow: 2px 2px 4px black;
}

.main-category {
    height: 100%;
    min-height: 100%;
    background-color: var(--light-background);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr, .3fr, 1fr, .3fr;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 2.5rem;
    row-gap: 40px;
}

.main-category img{
    border-radius: 10rem;
    height: 10rem;
    width: 10rem;
}
.destination{
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-bottom: 25px;
    height: 100%;
    min-height: 100%;
    background-color: var(--light-background);
}
.destination-body{
    height: 100%;
    min-height: 100%;
    background-color: var(--light-background);
}
.destination h1{
font-size: 40px;
    justify-content: center;
    color: white;
text-shadow: 2px 2px 4px black;
}
.destination img{
    width: 300px;
    height: 300px;
    border-radius: 300px;
}
.reviewForm{
    position: center;
    width: 100%;
    height: 250px;
    margin: auto;
 padding-bottom: 100px;
    background-color: var(--light-background);
}

.postedReviews ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    padding: 0;
}

.reviewList{
    border-top: 2px var(--dark-background) solid;
    border-bottom: 2px var(--dark-background) solid;

}
.review-heading{
    font-style: italic;
    color: white;
    text-shadow: 1px 2px 2px black;
}