*{
    list-style: none;
    
}
.container{
    background-image:url(/images/annie-spratt-qyAka7W5uMY-unsplash\ \(2\).jpg);
    background-size: cover;
    color: lightblue;
    text-shadow: 2px 2px 4px black;
}
.category{
  
    border-radius: 10rem;
    height: 10rem;
    width: 10rem;
}
.sub-main{
color:black;
font-size: 2em;
}
.sub-main li:hover{
    color:lightblue;
    
}
