<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/layout.css">
    <title>Destination Reviews</title>

</head>

<body>
    <div class="container">
        <header class = "header">
            <h1>Travel Destinations Reviews</h1>
            <nav>
                <ul>
                    <li>Categories</li>
                    <li>Hashtags</li>
                </ul>
            </nav>
    </div>
    </header>
    <main>
        <section class="categories">
            <ul>
                
                <li>Beaches</li>
                <li>Mountains</li>
                <li>Cities</li>
                <li>International</li>
                <li>Cruise</li>
            </ul>
        </section>
    </main>
<footer>
    <article>
        2022
    </article>
    <article>
        Travel Destination Reviews
    </article>
</footer>
</body>

</html>