<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/src/main/resources/static/CSS/style.css">
    <link rel="stylesheet" href="/src/main/resources/static/CSS/layout.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
    <link rel="icon" href="/images/airplane.png">
    <title>Destination Reviews</title>

</head>

<body>
    <div class="container">
        <div th:replace="fragments.html :: nav"></div>
    </div>
    <main>
        <section class="hashtag">
            <div>
                <h2 th:text = "'#' + ${hashtag.hashtag}" class="sub-main">Hashtag</h2>
                <ul class="main-category">
                    <li th:each = "destination:${hashtag.destinations}">
                        <div>
                            <a th:href="'/destination/'+${destination.destinationName}"><img th:src="${destination.imageURL}" th:alt="${destination.altText}"></a>
                            <a th:href="'/destination/'+${destination.destinationName}"><h3 th:text="${destination.destinationName}"></h3></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>


    </main>
    <div th:replace="fragments.html :: footer"></div>

</body>

</html>