<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/src/main/resources/static/CSS/style.css">
    <link rel="stylesheet" href="/src/main/resources/static/CSS/layout.css">
    <title>Destination Reviews</title>

</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Travel Destinations Reviews</h1>
            <nav>
                <ul>
                    <li><a href="categories.html">Categories</a> </li>
                    <li><a href="hashtags.html">Hashtags</a> </li>
                </ul>
            </nav>
        </header>
    </div>
    <main>
        <h2 class="sub-main">Hashtag</h2>
        <section>
            <ul class="sub-main2">
                <li>Destination</li>
            </ul>
        </section>
    </main>
    <footer>
        <article>
            2022
        </article>
        <article>
            Travel Destination Reviews
        </article>
    </footer>

</body>

</html>