<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/CSS/style.css">
    <link rel="stylesheet" href="/src/main/resources/static/CSS/layout.css">
    <title>Destination Reviews</title>

</head>

<body>
    <div class="container">
        <div th:replace="fragments.html :: nav"></div>
    </div>
    </header>
    <main>
        <section class ="sub-main">
            <h1 id="name-of-destination">Name of Destination</h1>
            <a href="#">Picture of Destination</a>
            <p>Description</p>
<!--            <div>-->
<!--                <h3>rating-->
<!--                    <img src="#" alt="#">-->
<!--                </h3>-->
<!--            </div>-->
<!--            <div class="comment-form">-->
<!--                <form action="../add-comment/" method="POST">-->

<!--                    <label for="comment">Enter a new comment:</label>-->
<!--                    <input type="text" id="comment" name="userComment" placeholder="Comment here...">-->
<!--                    <input type="hidden" value="Die Hard" name="title" />-->

<!--                    <br>-->

<!--                    <input type="submit" value="Submit">-->
<!--                </form>-->
<!--            </div>-->
        </section>
    </main>
    <div th:replace="fragments.html :: footer"></div>
</body>

</html>