<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
    <title>Destination Reviews</title>

</head>

<body>
<div class="container">
    <div th:replace="fragments.html :: nav"></div>
</div>
</header>
<main>
    <section class="destination">
        <h1 th:text=${destination.destinationName}>Name of Destination</h1>
                <div>
                    <img th:src="${destination.imageURL}" th:alt="${destination.altText}">
                    <br>
                    <br>
                    <p th:text="${destination.description}">Description</p>
                    <br>
                    <br>
                    <ul class="average-rating">
                        <h2>Average Rating:&nbsp;</h2>
                        <li th:each="review : ${destination.reviews}">
                            <p th:text="${review.stars}"></p>
                        </li>
                    </ul>
                    <div class="reviewForm">
                    <form th:action="'/destination/' + ${destination.destinationName} + '/addReview'"  method="post">
                        <label for="starRating"> Star rating: &nbsp</label>
                        <input type="number" min="0" max="5" name="rating" id="starRating" value="">
                        <br>
                        <br>
                        <br>
                        <label for="reviewContent">Review: &nbsp;</label><textarea name="comment" id="reviewContent" cols="30" rows="5"></textarea>
                        <br>
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                    </div>
                    <div class="postedReviews" >
                        <ul th:each="review: ${destination.reviews}">
                            <li>
                                <p th:text="${review.comment}"></p>

                            </li>
                        </ul>
                    </div>
                </div>
    </section>

</main>
<div th:replace="fragments.html :: footer"></div>
</body>

</html>