<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/CSS/style.css">
    <link rel="stylesheet" href="/src/main/resources/static/CSS/layout.css">
    <title>Destination Reviews</title>

</head>

<body>
    <div class="container">
        <header class="header">
            <h1>Travel Destinations Reviews</h1>
            <nav>
                <ul>
                    <li>Categories</li>
                    <li>Hashtags</li>
                </ul>
            </nav>
        </header>
    </div>
    <main class = "sub-main">
        <h2>All Reviews</h2>
        <section>
            <ul id="all-reviews-listed">
                <li>All-Reviews-Individual</li>
            </ul>
        </section>
    </main>
    <footer>
        <article class="copyright">
            <p>©2022</p>
            
        </article>
        <p>Travel Destination Reviews</p>
       
    </footer>

</body>

</html>